<!DOCTYPE html>
<html>
  <head>
    <title>LibraryOnRails</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
    <nav class="site-header sticky-top py-1">
      <div class="container d-flex flex-column flex-md-row justify-content-between">
        <a class="py-2" href="#">
          <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="d-block mx-auto"><circle cx="12" cy="12" r="10"></circle><line x1="14.31" y1="8" x2="20.05" y2="17.94"></line><line x1="9.69" y1="8" x2="21.17" y2="8"></line><line x1="7.38" y1="12" x2="13.12" y2="2.06"></line><line x1="9.69" y1="16" x2="3.95" y2="6.06"></line><line x1="14.31" y1="16" x2="2.83" y2="16"></line><line x1="16.62" y1="12" x2="10.88" y2="21.94"></line></svg>
        </a>
        <% if current_user %>
          <a href="#" class="py-2 d-none d-md-inline-block">Welcome back <%= current_user.username %> </a>
        <% else %>
          <%= link_to "Sign Up", signup_path, class: "py-2 d-none d-md-inline-block" %>
          <%= link_to "Log In", login_path, class: "py-2 d-none d-md-inline-block" %>
        <% end %>
        <div class="dropdown show">
          <a class="py-2 d-none d-md-inline-block dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <%= t 'navbar.models' %>
          </a>
          <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
            <%= link_to t('navbar.model_list.books'), "/books" , class: "dropdown-item" %>
            <%= link_to t('navbar.model_list.authors'), "/authors" , class: "dropdown-item" %>
            <%= link_to t('navbar.model_list.magazines'), "/magazines" , class: "dropdown-item" %>
            <%= link_to t('navbar.model_list.galleries'), "/galleries" , class: "dropdown-item" %>
            <%= link_to t('navbar.model_list.publishers'), "/publishers" , class: "dropdown-item" %>
            <%= link_to t('navbar.model_list.users'), "/users" , class: "dropdown-item" %>
          </div>
        </div>

        <%= link_to "Previous rentals", previous_rentals_list_path, class: "py-2 d-none d-md-inline-block" if current_user%>
        <a class="py-2 d-none d-md-inline-block" href="#">Support</a>
        <a class="py-2 d-none d-md-inline-block" href="#">EN</a>
        <a class="py-2 d-none d-md-inline-block" href="#"></a>
        <% if current_user %>
          <%= link_to "Log Out", logout_path, class: "py-2 d-none d-md-inline-block" %>
        <% end %>
      </div>
    </nav>
    <% unless flash.empty? %>
      <script type="text/javascript">
        <% flash.each do |f| %>
          <% type = f[0].gsub('alert', 'error').gsub('notice', 'info') %>
          toastr['<%= type %>']('<%= f[1] %>', '<%= type %>');
        <% end %>
      </script>
    <% end %>
    <div id="modal-holder"></div>
    <div class="container">
      <%= yield %>
    </div>
  </body>
</html>
